html {
    font-size: 62,5%;
    h1 {
        font-size: 2.5rem;
        // font-weight: 200;
        span {
            margin: 1rem;
        }
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1.8rem;
    }
    label {
        font-size: 1.5rem;
    }
    button {
        font-size: 1.5rem;
    }
}
